section{
  position: relative;

	h2{
		padding-top: 38px;
	}
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 80px;
    background-color: #f5f6f7;
    z-index: -1;
  }
}
@media screen and (max-width: 1130px){
  section{
    &:before{
      height: 140px;
    }
    h2{
      padding-top: 100px;
    }
  }
}
@media screen and (max-width: 420px){
  section{
    &:before{
      height: 200px;
    }
    h2{
      padding-top: 160px;
    }
  }
}
