<header>
  <app-top-banner></app-top-banner>
  <div class="wrapper" [style.background-image]="getBackground()">
    <div class="container">
      <nav [class.active]="isAdaptive">
        <a [ngx-scroll-to]="'#courses'"
           [ngx-scroll-to-offset]="-150"
           (click)="checkedActive()"
           routerLink="">
          курсы
        </a>
        <a [ngx-scroll-to]="'#subscribe'"
           [ngx-scroll-to-offset]="-94"
           (click)="checkedActive(); focusedEl()">
          подписка
        </a>
        <a (click)="checkedActive(); openModal('garant')">
          гарантии
        </a>
        <a class="logo"
           (click)="checkedActive()"
            [ngx-scroll-to]="'top'">
          profit<span class="biggest">s</span>kill
        </a>
        <a (click)="checkedActive(); openModal('about')">
          о нас
        </a>
        <a (click)="checkedActive(); openModal('help')">
          помощь
        </a>
        <a (click)="checkedActive(); openModal('addCourse')">
          добавить курс
        </a>
        <a class="nav-btn" (click)="changeAdaptive(); $event.preventDefault()">

        </a>
      </nav>
    </div>
  </div>
</header>
