<footer>
  <div class="container">
    <div class="row">
      <div class="column column-company">
        <a [ngx-scroll-to]="'#top'" class="logo">
          profit<span class="biggest">s</span>kills
        </a>
        <div class="title">площадка онлайн курсов</div>
        <a href="" class="add-course">
          вы можете добавить свой курс
        </a>
      </div>
      <div class="column-nav">
        <nav>
          <a [ngx-scroll-to]="'#courses'"
             [ngx-scroll-to-offset]="-150">Курсы</a>
          <a href="">О нас</a>
          <a [ngx-scroll-to]="'#subscribe'">Подписка</a>
          <a href="">Помощь</a>
          <a href="">Гарантии</a>
        </nav>
        <div class="help">
          <div class="title">
            поддержка
          </div>
          <div class="text">
            Есть вопросы?
          </div>
          <a href="mailto:support@business-now.com">
            support@business-now.com
          </a>
        </div>
      </div>
      <div class="column column-contacts">
        <div class="title">
          социальные сети
        </div>
        <div class="social">
          <a href="" class="vk">

          </a>
          <a href="" class="yt">

          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    COPYRIGHT &copy; 2018 business-now.com
  </div>
</footer>
