<li>
  <h3>
    {{course.title}}
  </h3>
  <a [routerLink]="['/course', course.routerLink]" class="img-wrapper">
    <img src="/assets/images/{{course.img}}" alt="">
  </a>
  <a [routerLink]="['/course', course.routerLink]" class="subtitle">
    {{course.titleSecondary}}
  </a>
  <div class="wrapper-main">
    <table>
      <tr>
        <td>Длительность:</td>
        <td>{{course.durability}}</td>
      </tr>
      <tr>
        <td>Формат:</td>
        <td>{{course.format}}</td>
      </tr>
      <tr>
        <td>Размер:</td>
        <td>{{course.size}}</td>
      </tr>
    </table>
    <div class="wrapper-link">
      <a href="">
          купить сразу
      </a>
      <span class="price-now">
        {{course.price}}&#8381;
      </span>
      <span class="price-old">
        {{course.priceOld}}&#8381;
      </span>
    </div>
  </div>
  <div class="wrapper-btn">
    <a [routerLink]="['/course', course.routerLink]">
        подробнее
    </a>
  </div>
</li>
