<ul class="menu">
  <li><a routerLink="" [class.current]="current == 'all'" (click)="sortByCategory('all'); setCategoryTitle('все курсы')"><span class="icon icon--books"></span>все курсы</a></li>
  <li><a routerLink="" [class.current]="current == 'business'" (click)="sortByCategory('business'); setCategoryTitle('бизнес с нуля')"><span class="icon icon--person"></span>бизнес с нуля</a></li>
  <li><a routerLink="" [class.current]="current == 'seo'" (click)="sortByCategory('seo'); setCategoryTitle('seo продвижение')"><span class="icon icon--graph"></span>seo продвижение</a></li>
  <li><a routerLink="" [class.current]="current == 'skills'" (click)="sortByCategory('skills'); setCategoryTitle('полезные навыки')"><span class="icon icon--road"></span>полезные навыки</a></li>
  <li><a routerLink="" [class.current]="current == 'work'" (click)="sortByCategory('work'); setCategoryTitle('заработок в интернете')"><span class="icon icon--idea"></span>заработок в интернете</a></li>
  <li><a routerLink="" [class.current]="current == 'schemes'" (click)="sortByCategory('schemes'); setCategoryTitle('готовые схемы')"><span class="icon icon--scheme"></span>готовые схемы</a></li>
</ul>
