
<div class="course">
  <iframe src="{{course.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <div class="info">
    <div class="info__top">
      <div class="count"><span class="highlight" id="counter">{{course.buyCounter}}</span> купили этот курс</div>
      <div class="timer">до конца акции осталось <span class="timer__clock"id="timer">
                <span class="days">{{days}}<span></span> дней</span>
                <span> {{hours}}</span>:<span>{{minutes}}</span>:<span>{{seconds}}</span>
              </span></div>
      <button class="button" (click)="onBuyBtnClick()">
        <span class="button__text">
          купить
            <span class="price-now">
              {{course.price}} &#8381;
            </span>
            <span class="price-old">
              {{course.priceOld}} &#8381;
            </span>
        </span>
      </button>
	</div>
    <div class="info__main">
      <table class="table">
        <tr>
          <td>Длительность:</td>
          <td>{{course.durability}}</td>
        </tr>
        <tr>
          <td>Формат:</td>
          <td>{{course.format}}</td>
        </tr>
        <tr>
          <td>Размер:</td>
          <td>{{course.size}}</td>
        </tr>
      </table>
    </div>
    <a href="">
      отзывы о курсах в нашем сообществе вк
    </a>
  </div>
  <div class="description">
    <div class="title">
      описание:
    </div>
    {{course.description}}
  </div>
</div>

