
<div class="course">
  <div class="wrapper-video">
  	<iframe [src]="course.videoUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="info">
    <div class="info__top">
      <div class="count"><span class="highlight" id="counter">{{course.buyCounter}}</span> купили этот курс</div>
      <div class="timer">до конца акции осталось <span class="timer__clock"id="timer">
                <span class="days">{{timer.days}}<span></span> дней </span>
                <span><span *ngIf="timer.hours < 10">0</span>{{timer.hours}}</span>:<span><span *ngIf="timer.minutes < 10">0</span>{{timer.minutes}}</span>:<span><span *ngIf="timer.seconds < 10">0</span>{{timer.seconds}}</span>
              </span></div>
      <button class="button" (click)="onBuyBtnClick()">
        <span class="button__text">
          купить
            <span class="price-now">
              {{course.price}} &#8381;
            </span>
            <span class="price-old">
              {{course.priceOld}} &#8381;
            </span>
        </span>
      </button>
	</div>
    <div class="info__main">
      <table class="table">
        <tr>
          <td>Длительность:</td>
          <td>{{course.durability}}</td>
        </tr>
        <tr>
          <td>Формат:</td>
          <td>{{course.format}}</td>
        </tr>
        <tr>
          <td>Размер:</td>
          <td>{{course.size}}</td>
        </tr>
      </table>
    </div>
    <a href="https://vk.com/profitskill">
      отзывы о курсах в нашем сообществе вк
    </a>
  </div>
  <div class="description">
    <div class="title">
      описание:
    </div>
<div [innerHtml]="course.description"><!--    {{course.description}}--></div>
  </div>
</div>

