<div class="modal" [@modalAnimation]>
  <button class="close-btn"
          (click)="hideModal('')"></button>
  <div class="title">
    купить курс: {{courseInfo.titleSecondary}}
  </div>
  <form method="POST" ngNoForm>
    <img src="/assets/images{{ courseInfo.img }}" alt="">
    <div class="main">
      <div class="row">
        <h4>
          Kупить курс: {{courseInfo.titleSecondary}}
        </h4>
        <label class="label">
          <div>Укажите Вашу почту:</div>
          <input type="email" name="email" placeholder="ВАШ EMAIL" [(ngModel)]="email" required>
        </label>
        <input type="email" name="repeatEmail" placeholder="ПОВТОРИТЕ ВАШ EMAIL" [(ngModel)]="repeatEmail" required>
        <div *ngIf="!isFormValid().valid && email !== ''">
          {{isFormValid().error}}
        </div>
        <input type="hidden" [(ngModel)]="courseInfo.id" name="id">
      </div>
      <div class="price-wrapper">
        стоимость курса:
        <span class="price">
          {{ courseInfo.price }} P / <span class="price price--old">{{ courseInfo.priceOld }} P</span>
        </span>
      </div>
      <div class="wrapper-btns">
        <button [disabled]="!isFormValid().valid" type="submit" formaction="/setorderWM.php" class="button button--webmoney">
          <span class="icon icon--wbm"></span>
            оплатить
        </button>
        <button [disabled]="!isFormValid().valid" formaction="/setorder.php" class="button button--netmoney">
          <span class="icon icon--wallet-one"></span>
            оплатить
        </button>
      </div>
    </div>
  </form>
  <div class="text-wrapper">
    <div class=".description">
      {{courseInfo.description}}
    </div>
<!--
    <div class="pre-info">Чтобы начать обучение:</div>
    <div class="info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ea commodi recusandae laborum illo, quasi eligendi odio a, quia eveniet quo nesciunt at repudiandae adipisci exercitationem. Magni numquam ipsa officiis!
    </div>
-->
  </div>
</div>
