<div class="modal active" #modal>
  <button class="close-btn"
          (click)="modal.classList.remove('active')"></button>
  <div class="title">
    о нас / сотрудничество с нами
  </div>
  <div class="text-block">
    <div class="title">
      Кто мы?
    </div>
    <p>
      Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
    </p>
    <p>
      Donec vehicula leo nec nisi mollis consectetur.
      Curabitur imperdiet ipsum quis urna maximus, eget aliquet quam pharetra.
      Pellentesque sed nisi at lacus auctor vestibulum vitae in neque.
      Curabitur egestas magna in mi varius tincidunt.
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Как мы работаем?
    </div>
    <p>
      Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
    </p>
    <p>
      Donec vehicula leo nec nisi mollis consectetur.
      Curabitur imperdiet ipsum quis urna maximus, eget aliquet quam pharetra.
      Pellentesque sed nisi at lacus auctor vestibulum vitae in neque.
      Curabitur egestas magna in mi varius tincidunt.
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Сотрудничество с нами
    </div>
    <p>
      Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Авторские права
    </div>
    <p>
      Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
    </p>
  </div>
</div>
