<div class="modal active" [@modalAnimation]>
  <button class="close-btn"
          (click)="hideModal('')"></button>
  <div class="title">
    о нас / сотрудничество с нами
  </div>
  <div class="text-block">
    <div class="title">
      О ProfitSkill
    </div>
    <p>
      ProfitSkill - это образовательный ресурс, который предоставляет курсы по заработку в интернете.
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Как добавить свой курс на площадку?
    </div>
    <p>
      Перейдите в раздел: <a (click)="openModal('addCourse')">ДОБАВИТЬ КУРС НА НАШУ ПЛОЩАДКУ</a>
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Авторские права
    </div>
    <p>
      После размещения курса на сайте <a href="profitskill.ru">profitskill.ru</a> авторские права на весь опубликованный материал согласно договору остаются за автором курса. 
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Контакты
    </div>
    <p>
      Техподдержка ProfitSkill: <a href="mailto:support@profitskill.com">support@profitskill.com</a>
    </p>
  </div>
</div>
