.modal{
  & > .title{
    &:before{
      background-image: url(../../../assets/images/svg/about-us.svg);
    }
  }
  .text-block{
    .title{
      padding: 20px 0;
    }
	a{
	    color: #1cb2ff;
		cursor: pointer;
		transition: .3s;
			
		&:hover{
			opacity: 0.7;
		}
	}
  }
}
