<div class="title">
	Скидки до -90% на все курсы до конца лета, осталось:
</div>
<div class="timer-wrap">
	<span><span class="timer">{{timer.days}}</span> дней </span>
	<span><span class="timer"><span *ngIf="timer.hours < 10">0</span>{{timer.hours}}</span> часов </span>
	<span><span class="timer"><span *ngIf="timer.minutes < 10">0</span>{{timer.minutes}}</span> минут </span>
	<span><span class="timer"><span *ngIf="timer.seconds < 10">0</span>{{timer.seconds}}</span> секунд </span>
</div>
<button routerLink=""
        [ngx-scroll-to]="'#courses'"
        [ngx-scroll-to-offset]="-150">
	Начать зарабатывать
</button>