<div class="modal" [@modalAnimation]>
  <button class="close-btn"
  (click)="hideModal('')"></button>
  <div class="title">
    гарантия возврата средств и доставка курсов
  </div>
  <div class="text-block text-block--official">
    <div class="title">
      Мы официально зарегестрированы
    </div>
    <p>
      Мы официально зарегистрированы в системе для оплаты WalletOne и имеем разрешение на продажу интеллектуального товара. Сайт profitskill.ru и платежная система WalletOne гарантирует пользователям предоставление приобретенных товаров и в случае ошибки возврат потраченных средств.

    </p>
  </div>
  <div class="text-block text-block--attestat">
    <div class="title">
      У нас есть атестат продавца
    </div>
    <p>
      Аттестат продавца WebMoney выдается лицам, прошедшим полную идентификацию личности, а также лицам, которые уже имеют беспроблемно функционирующие интернет сервисы с интегрированной продажей товаров. Даже одна претензия в адрес продавца, может повлечь за собой закрытие аккаунта.
    </p>
  </div>
  <div class="text-block text-block--automatic">
    <div class="title">
      Автоматическая отправка курса на почту
    </div>
    <p>
      После приобретения курсов вы автоматически получите на свою почту письмо, которое содержит ссылки на скачивание курсов и дополнительных ресурсов, после чего вы сможете незамедлительно приступить к обучению.
    </p>
  </div>
</div>
