<div class="modal active" [@modalAnimation]>
  <button class="close-btn"
          (click)="hideModal('')"></button>
  <div class="title">
    добавить курс
  </div>
  <div class="text-block">
    <div class="title">
      Условия размещения вашего курса
    </div>
    <p>
      Наша платформа нацелена на распространение уникальной информации для заработка в сети интернет и не более того, так как у нас нету офиса, нам не требуется средств на рекламу, оплату аренды, выплаты зарплаты сотрудникам и прочие расходы на содержание и распространение учебного материала отсутствуют, мы не жадничаем и не забираем львиную долю от выручки с продаж курсов и других платных материалов, наша ставка за использование вашего материала составляет всего 5% с каждой продажи. Эти средства уходят на поддержку проекта и минимальную рекламу, этого вполне достаточно чтобы поддерживать проект живым и привлекать все больше новых авторов и покупателей.
	  </p>
	  <p>
		Авторы наших курсов при этом остаются анонимными и публикуются от имени profitskill.ru. Фактически мы являемся просто местом где авторы различных курсов по заработку/бизнесу могут размещать свои курсы и получать дополнительный доход от их продаж. 
		Некоторые наши курсы доступны на других образовательных площадках, но цена на них гораздо выше чем у нас, так как они взимают огромную комиссию с авторов. У нас любой может приобрести качественный материал за доступную цену.
	  </p>
<p>
	Сотрудничество с нами имеет некоторые специфические условия. 
	Мы не указываем имена авторов курсов, и какую либо их личную информацию, так как это может противоречить правилам других площадок на которых размещаются наши авторы. По вашему желанию, мы можем указать ваши данные.
	Сотрудничество с нами осуществляется с заключением договора на распространение авторских материалов, если вы сотрудничаете с нами, авторские права остаются за вами. Некоторые площадки могут присваивать себе права на материалы, мы этого не делаем. Вы получаете копию нотариально заверенного договора составленного на ваше имя о распространении авторского материала. Дабы минимизировать риски нарушения авторских прав. Но увы, такие случаются, на этот случай мы сотрудничаем с фактическими правообладателями, и если нам сообщат что ваш материал распространяется незаконно и права принадлежат кому-то другому, мы удаляем ваш материал с нашей площадки с расторжением договора.
	Договор заключенный с нами имеет примитивный вид, и вкратце говорит о том, что мы обязаны предоставлять отчеты и выплачивать прибыль в размере 95% c каждой продажи вашего курса, по вашему требованию. Не больше 2 раз в месяц.
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Требования к курсу обучения
    </div>
    <ul>
      <li>
      	Вы должны быть автором материала, который размещаете на нашей площадке.
      </li>
      <li>
      	Права на распространение могут быть не только у нас но и у других площадок, при этом наш договор составляется именно с автором курса. 
      </li>
      <li>
      	Тема курса косвенно или напрямую должна быть связана с заработком в интернете или созданием своего бизнеса.
      </li>
      <li>
      	Для составления договора необходимо, чтобы в курсе отсутствовали водяные знаки или отсылки к другим площадкам, в случае если они присутствуют и автор не может их убрать, договор не заключается и материал может быть удален с площадки в любой момент без предупреждения, без выплат.
      </li>
      <li>
      	Остальные требования уникальны для каждого автора, подробнее вы сможете узнать связавшись с нами.
      </li>
    </ul>
  </div>
  <div class="text-block">
    <div class="title">
      Как добавить курс?
    </div>
    <p>
      Напишите на почту <a href="mailto:addcourse@profitskill.ru">addcourse@profitskill.ru </a>
    </p>
    	Для рассмотрения вашей заявки в течении 2х дней, укажите:
    	<ul>
    		<li>
    			Название курса
    		</li>
    		<li>
    			Напишите описание, о чем ваш курс
    		</li>
    		<li>
    			Укажите желаемую цену
    		</li>
    		<li>
    			Прикрепите демо ролик, это может быть видео с вашего курса длинной 1-5 минут, либо видео целиком.
    		</li>
    		<li>
    			Укажите где вы уже размещали свой курс, прикрепите ссылку.
    		</li>
    	</ul>
    	<div>
    		После рассмотрения заявки мы предоставим вам развернутый ответ, что нам требуется для размещения вашего курса и согласны ли мы составить с вами договор. 
    	</div>
  </div>
  <div class="text-block">
    <div class="title">
      Ваши авторские права нарушают?
    </div>
    <p>
      Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
    </p>
  </div>
  <div class="text-block">
    <div class="title">
      Не нашли ответ на свой вопрос
    </div>
    <p>
      Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.
    </p>
  </div>
</div>
